.pageform{
	display:inline-block;
	width:150px;
	vertical-align:top;
	margin: 0 15px;
}
.searchform {
	display:inline-block;
	width:auto;
	vertical-align:top;
	padding-right: 20px;
}
.pagination {
	margin: 0 !important;
}
#start_time,#end_time{
	
}
.searchform label{
	padding-right:0;
}
.sampleImg,.sampleData,.sampleDetail{
	width:400px;
	float:left;
}
.sampleData,.sampleDetail{
	margin-left:20px;
}
.sampleDetail #detail {
	height:300px;
}
.sampleData table tbody tr td{
	border-top:none;
	border-bottom:1px solid #ddd;
}
.samplehead{
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}
.samplehead>div{
	margin-right:40px;
}
#addQuoteBtn{
	margin-left:40px;
}
.sampleDetail legend{
	margin-bottom:3px;
}
.pagination li.active>a{
	cursor: pointer !important;
}
.timegroup{
	
}
.timegroup>label{
	width:80px;
}
.timegroup>div.input-group{
	width:320px;
}
.salesgroup>*{
	width:auto;
}
.salesgroup>div{
	width:200px;
}
.quantity_value {
	width: 100px;
}

.head {
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 20px;
}

.head>div {
	margin-right: 40px;
}

.detailTb table tbody tr td {
	border-top: none;
	border-bottom: 1px solid #ddd;
}

.basic-steps ol li {
	float: left;
	width: 100px;
}

.basic-steps dl {
	background-image: url("../images/T1sOc7Xa4XXXcw5nfN-40-200.png");
	background-position: 0 26px;
	background-repeat: repeat-x;
	height: 57px;
	position: relative;
	z-index: 10;
	background-color: #F5F3F0;
	border-bottom: 1px solid #D2D2D2;
	margin-top: 0;
}

.basic-steps dl dd {
	float: left;
	margin: 0;
	padding: 0;
	width: 100px;
	position: relative;
}

.basic-steps dl dt {
	background-color: #F5F3F0;
	background-position: right bottom;
	background-repeat: no-repeat;
	height: 30px;
	margin-top: 26px;
	overflow: hidden;
	text-indent: -40em;
	width: 60px;
	float: left;
	background-image: url("../images/T1sOc7Xa4XXXcw5nfN-40-200.png");
	padding: 0;
}

.basic-steps dl dd a {
	background-image: url("../images/T1sOc7Xa4XXXcw5nfN-40-200.png");
	float: left;
	width: 100px;
	background-position: center -18px;
	color: #AC9F90;
	text-decoration: none;
	background-repeat: no-repeat;
	height: 18px;
	line-height: 18px;
	margin: 2px 0 5px;
	padding: 32px 0 0;
	text-align: center;
	width: 100%;
}

.basic-steps dl dd.selected a {
	background-position: center -68px;
}

.basic-steps dl dd a:hover {
	background-position: center -68px;
}

.basic-steps .step+.tooltip {
	width: 100%;
	width: 150px;
	left: -30px;
	height: 60px;
	bottom: 20px;
	vertical-align: middle;
	line-height: 40px;
	opacity: 1;
	display:none;
}
.basic-steps .step+.tooltip .tooltip-inner{
	height:100%;
}
.basic-steps .step+.tooltip.open {
	display:block;
}
.basic-steps .step+.tooltip .editStep{
	margin-right:10px;
}
.basic-steps .stepId:first-child{
	border-left: 1px dashed #AC9F90;
}
.basic-steps .stepId{
	border-right: 1px dashed #AC9F90;
}
.step_widget{
	margin-bottom:30px;
}
.step_widget .basic-steps dl{
	margin-bottom:0;
}
.step_widget .basic-steps:first-child dl dt{
	background-image: url("../images/T1sOc7Xa4XXXcw5nfN-40-200.png"); */
}
.step_widget .basic-steps dl dt{
	background-image: none;
}
.deliveryDiv{
	font-size:18px;
	font-weight: bold;
}
.deliveryDiv .control-label{
	padding-left:8px;
}
.searchform .control-label{
	width:auto;
}
.searchform .control-label+div{
	width:auto;
}
.timegroup .control-label+div{
	width:320px;
}
.searchform #companyId,.searchform #factoryId,.searchform #number{
	width:150px;
}
.searchform .form-group{
	margin-right:0;
}
.searchform #salesmanId{
	width:100px;
}
.searchform #status{
	width:120px;
}
#addStep{
	margin-right:0;
}
.addNotificationBtn{
	margin-right:40px;
	margin-bottom: 10px;
}
#detailTable textarea.memo_value{
	height:80%;
}
#detailTable .form-control{
	height: 30px;
	padding: 0 6px;
}
.detailTb{
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}
.addRow{
	margin-bottom:5px;
}
tr.label-danger{
	color:#d9534f;
	background:none;
}
tr.label-warning{
	color:#f0ad4e;
	background:none;
}
.body{
	min-width:1200px;
}
#breadcrumbs{
	min-width:1200px;
}
.tablewidget>table{
	  table-layout: fixed;
}
.tablewidget>table th,.tablewidget>table td{
	 text-align: center;
}
@media(max-width:1366px){  
	.searchform #status{
		width:80px;
	}
	.searchform #companyId, .searchform #factoryId{
		width:80px;
	}
	.searchform #salesmanId{
		width:80px;
	}
	.searchform #number{
		width:90px;
	}
	.body{
		min-width:1000px;
	}
	#breadcrumbs{
		min-width:1000px;
	}
}
.imggroup{
	height:380px;
}
#exeStepDialog .modal-dialog{
	width:700px;
}