.sampleImg,.sampleData,.sampleDetail{
	width:400px;
	float:left;
}
.sampleData,.sampleDetail{
	margin-left:20px;
}
.sampleDetail #detail {
	height:300px;
}
.sampleData table tbody tr td{
	border: 1px solid #ddd;
	text-align:center;
}
.tablewidget table.detailTb,.tablewidget table.detailTb2{
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}
.tablewidget .thumbnail{
	border:none;
}
.tablewidget .thumbnail img{
	max-width:300px;
}
.tablewidget>table>tbody>tr>td{
	border:none;
}
.tablewidget>table>caption{
	font-size: 25px;
	font-weight: bold;
}
.tableTb>tbody>tr>td{
	padding:0 8px;
	vertical-align:middle;
}
.tableTb .center{
	text-align:center;
}
.saveTable{
	margin-top:10px;
}
.addRow{
	margin-bottom:5px;
}
.tablewidget table.detailTb caption,.tablewidget table.detailTb2 caption{
	font-weight: bold;
	font-size: 16px;
}
.printBtn{
	margin-top:10px;
	margin-right: 20px;
}
.printAll{
	margin-bottom: 10px;
	margin-top: -10px;
}
.orderNumber{
	font-size: 16px;
	padding-bottom: 0 !important;
	padding-top: 0 !important;
}
.tablewidget>table>tbody>tr>td{
	padding-top:0;
}
.detailTb{
	background-color: #f5f5f5;
	border: 1px solid #ccc;
}
a.thumbnail{
	border:none;
}
#tab>ul.nav{
	width:200px;
	float:left;
}
#tab>.tab-content{
	margin-left: 200px;
	overflow:auto;
}
.emptyrecordwidget{
	margin-left: 100px;
}
.emptyrecordwidget p{
	font-size: 18px;
	font-weight: bold;
}
.emptyrecordwidget a{
	width: 150px;
	line-height: 50px;
}
.deleteTableBtn{
	margin-top: 10px;
  	margin-right: 20px;
}
#tip{
	margin-bottom:20px;
}
#tip .tip_line{
	text-indent:3em;
}
/*.materialorderWidget,.fuliaoorderWidget,.coloringorderWidget{
	width:1100px;
	margin:auto;
}*/
.materialorderWidget caption,.fuliaoorderWidget caption,.coloringorderWidget caption{
	margin-bottom:20px;
}
#producingorder .printBtn,#materialpurchaseorder .printBtn,#fuliaopurchaseorder .printBtn,#coloringorder .printBtn{
	margin-left:100px;
	margin-top:30px;
}
.materialorderWidget .table,.fuliaoorderWidget .table,.coloringorderWidget .table{
	margin-bottom:0;
}
#receiver_user{
	padding-right:150px;
}
#created_user,#date{
	padding-right: 100px;
}
.saveform a[type='button']{
	margin-top:10px;
	margin-right:10px;
}
input.printcheck{
	margin-right: 10px;
 	zoom: 1.4;
  	vertical-align: bottom;
}
#producingorder .priceRequestBtn ,#producingorder .priceCompletedBtn{
	margin-top:30px;
}
.materialorderWidget table>tbody>tr>td,.fuliaoorderWidget table>tbody>tr>td,.coloringorderWidget table>tbody>tr>td{
	border-color:#000;
}