 html{
 	height:100%;
 }
 body{
 	height:100%;
 	min-width: 990px;
 }
 .nav-tabs>li>a:hover{
 	background-color: #428bca;
 }
 .nav-tabs>li>a{
 	background-color: rgb(125, 180, 216);
	color: #fff;
 }
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
 	background-color: #428bca;
 	color:#fff;
 }
 .body{
 	padding:0 8px;
 }
 .breadcrumb{
 	border-bottom: 1px solid #ccc;
 }
 .container-fluid{
 	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	margin-left: -15px;
 }
 .background {
    background: none repeat scroll 0 0 #8F9092;
    display: none;
    height: auto;
    left: 0;
    min-height: 100%;
    opacity: 0.3;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 99999999999999;
}
.loading {
    background: url("../images/loading.gif") no-repeat scroll 10px center #FFFFFF;
    border: 2px solid #86A5AD;
    height: 60px;
    left: 48%;
    margin: -64px 0 0 -64px;
    overflow: hidden;
    padding: 15px 10px 10px 40px;
    /*position: fixed;*/
    position: absolute;
    top: 50%;
    width: auto;
    z-index: 999999999999999;
    display:none;
}
#alert_error .modal{
	z-index:99999999999999;
}
#alert_error .modal-content{
	color: #b94a48;
	border-color: #b94a48;
}
#alert_tip .modal{
	z-index:99999999999999;
}
.RMB{
	font-family:"Microsoft Yahei";
}
.clear{
	clear:both;
	content:"";
	display:table;
}
.checkerror{
	border-color:red !important;
}
.modal-title{
	font-weight:bold;
}
