 html{
 	height:100%;
 }
 body{
 	height:100%;
 	min-width: 990px;
 }
 .nav-tabs>li>a:hover{
 	background-color: #428bca;
 }
 .nav-tabs>li>a{
 	background-color: rgb(125, 180, 216);
	color: #fff;
 }
 .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
 	background-color: #428bca;
 	color:#fff;
 }
 .body{
 	padding:0 8px;
 }
 .breadcrumb{
 	border-bottom: 1px solid #ccc;
 }
 .container-fluid{
 	padding-right: 15px;
	padding-left: 15px;
	width: 100%;
	margin-left: -15px;
 }