.gridTab{
	height: 29.7cm;
	width: 21cm;
	margin: auto;
}
body{
	margin: auto;
	font-family: "Microsoft Yahei", "Verdana", "Tahoma, Arial",
 "Helvetica Neue", Helvetica, Sans-Serif,"SimSun";
}
textarea{
	width:100%;
	height:100%;
}
table{
	width:100%;
	border-collapse: collapse;
	border-spacing: 0;
}
table td,table caption,table th{
	border : 1px solid #000;
}
table caption{
	border-bottom:none;
}
table.noborder>tr>td , table.noborder>caption,table.noborder>tbody>tr>td{
	border:none;
}
#tablename{
	font-weight:bold;
	font-size:30px;
	margin-bottom: 15px;
}
#allTb>tbody>tr>td{
	border:none;
}
.pull-right{
	text-align:right;
}
#sign{
	padding-right: 200px;
}
#created_user,#date{
	padding-right: 100px;
}
#previewImg{
	height:200px;
}
#orderTb{
}
th{
	font-weight:normal;
}
#mainTb caption{
	font-size:20px;
}
strong{
	font-weight:bold;
}
#memo{
	font-size: 15px;
	text-decoration: underline;
}
.font_large{
	font-size:18px;
}
.font_small{
	font-size:15px;
}
td.underline{
	border-bottom:1px solid #000 !important;
}
.center{
	text-align:center;
}
thead>tr{
	height:25px;
}
tfoot>tr{
	height:40px;
}
p#sign{
	margin:0;
	height: 40px;
	line-height: 40px;
}
#receiver_user{
	padding-right:150px;
}
div#tip{
	border: 1px solid #000;
  	border-top: none;
}
#tip .tip_line{
	text-indent:3em;
}
#mianTb.noborder>tbody>tr>td{
	padding:0 1px;
}
.gridTb_2{
	height:auto;
	width: 21cm;
	margin: auto;
}
.detailTb{
	text-align:left;
}
.id_barcode{
	display:inline-block;
}